@model FMS.Data.Aircraft

@{
    ViewBag.Title = "Xóa";
}

<h3>Bạn chắc chắn muốn xóa bài viết này?</h3>
<div>
    <h4>Tàu bay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Loại tàu bay</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AircraftType)
        </dd>

        <dt>
            <label>Số hiệu</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>     
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay về danh sách", "Index")
        </div>
    }
</div>
