@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_GuestLayout.cshtml";

}

<div class="register-box">
    <div class="register-logo">
        <a href="~/"><b>FMS</b>Delivery</a>
    </div>
    <div class="register-box-body">
        <p class="login-box-msg">Kiểm tra email để đặt lại mật khẩu của bạn</p>
        <a href="~/Account/Login" class="text-center">Trở về trang đăng nhập</a>
    </div>

</div>

